<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My DZ - яке дз?</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="{% url 'main:schedule' %}"><strong>MyDZ</strong></a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  			</button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="{% url 'main:schedule' %}">Домашнє завдання</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Новини школи(В розробці)</a>
		        </li>
		      </ul>
		      <form class="d-flex">
		        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
		        {% if user.is_authenticated %}
		        	<p class="nav-link active">{{user.first_name}} {{user.last_name}}</p>
		        	<a style="margin-right: 5px;" class="nav-link active" href="{% url 'login:logout' %}">Вийти</a>
			    {% else %}
				    <a style="margin-right: 5px;" class="btn btn-outline-success" href="{% url 'login:signup' %}">Реєстрація</a>
				    <a class="btn btn-outline-success" href="{% url 'login:signin' %}">Вхід</a>
				{% endif %}
		      </form>
		    </div>
		  </div>
		</nav>
	</header>
	<div class="_class">
		<h3>6-А</h3>
	</div>
    {% block content %}
		<section>
			{% if days %}
				{% for day in days %}
					<div class="day">
						<h1 style="text-align: center;">
							<strong>{{day.day}}</strong>
							{% if user.is_superuser %}
								<a href="{% url 'main:add_lesson' day.id %}" style="text-decoration: none;">+</a>
							{% endif %}
						</h1>
						{% if day.lessons.all %}
							{% for lesson in day.lessons.all %}
								<div class="card" style="width: 18rem; display: inline-block; border:none;">
								  <div class="card-body">
								    <h5 class="card-title">{{lesson.lesson}}</h5>
								    {% if request.user.is_editor %}
								        <form action="{% url 'main:add_lesson_post' lesson.id %}" method="POST">
								        	{% csrf_token %}
				                            <input style="border: none;" type="text" value="{{lesson.task}}" name="task">
									        <button type="sumbit" class="btn btn-primary">Написати</button>
								        </form>
								        <form action="{% url 'main:delete_lesson' lesson.id %}" method="POST">
								        	{% csrf_token %}
									        <button type="sumbit" class="btn btn-primary" style="background-color: red; margin-top: 5px; border-color: red;">Видалити</button>
								        </form>
									{% else %}
									    <p class="card-text">{{lesson.task}}</p>
									{% endif %}
								  </div>
								</div>
							{% endfor %}
		                {% else %}
		                    <h3 style="text-align: center; opacity: 0.7;">
								<strong>Уроки не записані</strong>
						    </h3>
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				<h1 style="text-align: center; opacity: 0.7;">
					<strong>Уроки не записані</strong>
				</h1>
            {% endif %}
		</section>
	{% endblock %}
	<footer>
		
	</footer>
</body>
</html>